@charset "UTF-8";
/* CSS Document */

:root {
  --phase: 10s;
  --base: #E274DB;
}

body{
	font-family: ode, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	background-color: #1C4168;
}

h1{
	font-size: 15px;
	font-family: manofa, sans-serif;
	font-weight: 700;
	font-style: normal;
	position: relative;
	top: -100px;
	left: 10px;
}

.button{
	height: 50px;
	width: 170px;
	border-radius: 25px;
	font-size: 35px;
	text-align: center;
	background-color: #D4F0F7;
	position: absolute;
	bottom: 120px;
}

.scaleMoon{
	transform: scale(2.0);
	display: block;
	width: 100%;
	height: 100%;
}

.shadow{
	text-shadow: 1px 1px 0 #a4c3e5, 
	  2px 2px 0 #a4c3e5,
	  3px 3px #a4c3e5, 
	  4px 4px 0 #a4c3e5,
	  5px 5px 0 #a4c3e5,
	  6px 6px #a4c3e5;
	color: #1C4168;
	letter-spacing: 0.4rem;
	font-size: 60px;
	position: relative;
	top: -58px;
	left: 18px;
}

.partContainer{
	margin: auto;
	width: 900px;
	position: relative;
	margin-bottom: 20px;
}

.dot{
	height: 380px;
	width: 380px;
	display: inline-block;
	top: 20px;
	position: relative;
}

.smalldot{
	height: 27px;
	width: 27px;
	background-image: linear-gradient(#F61E61 , #D0D5F7);
	display: inline-block;
	border-radius: 50%;
	position: relative;
}


td, th {
    border: 2px solid #AEC6CF;
    text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 38px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.rightBox{
	height: 580px;
	width: 450px;
	background-color: #D4F0F7;
	display: fixed;
	border-radius: 25px;
	right: 0px;
	position: absolute;
	top: 20px;
}

.box{
	height: 450px;
	overflow: scroll;
	padding-left: 20px;
	padding-right: 20px;
}

.api,.moonfact{
	color: #1C4168;
	font-size: 26px;
	padding-top: 4px;
	width: 100%;
	text-align: center;
}

.spacing{
	height: 84px;
}

.topBox{
	height: 80px;
	width: 450px;
	background-color: #b6e1ec;
	display: fixed;
	border-radius: 25px;
	font-size: 15px;
	right: 0px;
	top: 20px;
	position: absolute;
}

.dotbox{
	width: 380px;
	position: absolute;
	margin: auto;
	left: 0px;
}

.slidecontainer {
    width: 320px;
	margin: auto;
}

.slider {
  -webkit-appearance: none;
  width: 99%;
  height: 6px;
  border-radius: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #AEC6CF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #AEC6CF;
  cursor: pointer;
}

input[type=text]{
    width: 48%;
	padding: 4px 2px;
	display: inline-block;
	border: 0px solid #1C4168;
	border-radius: 3px;
	padding-left: 8px;
	box-sizing: border-box;
	position: relative;
	margin: auto;
	left: 1%;
	text-decoration-color: #1C4168;
	background-color: #AEC6CF;
	font-family: ode, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
}

input[type=color]{
    width: 98%;
	height: 28px;
	padding: 0px 2px;
	display: inline-block;
	border: 0px solid #1C4168;
	border-radius: 3px;
	box-sizing: border-box;
	position: relative;
	margin: auto;
	left: 1%;
	text-decoration-color: #1C4168;
	background-color: #AEC6CF;
	font-family: ode, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
}

.button{
	height: 40px;
	width: 220px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	left: calc(50% - 110px);
	background-color: #AEC6CF;
	position: relative;
	top: -34px;
	font-family: ode, sans-serif;
	border: 0px;
}

@media only screen and (max-width: 930px) {
	
	.scaleMoon{
		transform: scale(1.2);
		display: block;
		width: 100%;
		height: 100%;
	}
	
	.button{
		height: 40px;
		width: 220px;
		border-radius: 20px;
		font-size: 25px;
		text-align: center;
		left: calc(50% - 110px);
		background-color: #AEC6CF;
		position: relative;
		top: -22px;
		font-family: ode, sans-serif;
		border: 0px;
	}
	
	.partContainer{
		width: 300px;
		position: relative;
		margin: auto;
	}

	
	.slidecontainer {
		width: 230px;
		margin: auto;
	}
	
	.slider::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  appearance: none;
	  width: 20px;
	  height: 20px;
	  border-radius: 50%;
	  background: #AEC6CF;
	  cursor: pointer;
	}

	.slider::-moz-range-thumb {
	  width: 20px;
	  height: 20px;
	  border-radius: 50%;
	  background: #AEC6CF;
	  cursor: pointer;
	}
	
	body{
		font-family: ode, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 30px;
	}

	.rightBox{
		height: 360px;
		width: 300px;
		background-color: #D4F0F7;
		display: fixed;
		border-radius: 15px;
		right: 0px;
		position: relative;
		top: 20px;
	}

	.spacing{
		height: 70px;
	}
	
	.blurb{
		position: absolute;
		top: 50px;
		margin: 20px;
	}
	
	.topBox{
		height: 70px;
		width: 300px;
		background-color: #b6e1ec;
		display: fixed;
		border-radius: 15px;
		font-size: 10px;
		right: 0px;
		top: -370px;
		position: relative;
	}
	
	.shadow{
		text-shadow: 1px 1px 0 #a4c3e5, 
		  2px 2px 0 #a4c3e5,
		  3px 3px #a4c3e5, 
		  4px 4px 0 #a4c3e5,
		  5px 5px 0 #a4c3e5;
		color: #1C4168;
		letter-spacing: 0.08rem;
		font-size: 45px;
		position: relative;
		top: -9px;
		left: 10px;
	}
	
	.dotbox{
		width: 230px;
		position: relative;
		margin: auto;
	}
	
	.dot{
		height: 230px;
		width: 230px;
		background-color: #D4F0F7;
		display: inline-block;
		border-radius: 50%;
		position: relative;
		margin: auto;
		top: 1px;
	}
	
	.spacing{
		height: 76px;
	}
	
	.box{
		height: 246px;
		overflow: scroll;
		padding-left: 20px;
		padding-right: 20px;
	}

	.api{
		color: #959595;
		font-size: 21px;
		padding-top: 2px;
		width: 100%;
		text-align: center;
	}
	
	td, th {
		border: 2px solid #4C0909;
		text-align: left;
		padding-left: 6px;
		padding-right: 6px;
		font-size: 21px;
	}
}





/*Moon Stuff*/





.moon {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  -webkit-clip-path: circle(50px at center);
  clip-path: circle(50px, 50px, 50px);
  clip-path: circle(49px at center);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: var(--base);
  overflow: hidden;
  transform: scale(2);
}

.moon:before, .moon:after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: -4%;
  left: -4%;
  height: 108%;
  width: 108%;
}
.moon:before {
  background: #1C4168;
  -moz-box-shadow: inset -10px 0 7px 0px var(--base);
  -webkit-box-shadow: inset -10px 0 7px 0px var(--base);
  box-shadow: inset -10px 0 7px 0px var(--base);
}
.moon:after {
  background: var(--base);
  -moz-box-shadow: inset -10px 0 7px 0px var(--base);
  -webkit-box-shadow: inset -10px 0 7px 0px var(--base);
  box-shadow: inset -10px 0 7px 0px var(--base);
}

/* Animation */
@keyframes before-fullmoon {
	
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
  0%, 24.99% {
    background: #1C4168;
  }
  25%, 100% {
    background: var(--base);
  }
  0% {
    -moz-box-shadow: inset 0px 0 7px 0px var(--base);
    -webkit-box-shadow: inset 0px 0 7px 0px var(--base);
    box-shadow: inset 0px 0 7px 0px var(--base);
  }
  24.99% {
    -moz-box-shadow: inset 55px 0 7px 0px var(--base);
    -webkit-box-shadow: inset 55px 0 7px 0px var(--base);
    box-shadow: inset 55px 0 7px 0px var(--base);
  }
  25% {
    -moz-box-shadow: inset 55px 0 7px 0px #1C4168;
    -webkit-box-shadow: inset 55px 0 7px 0px #1C4168;
    box-shadow: inset 55px 0 7px 0px #1C4168;
  }
  50%, 100% {
    -moz-box-shadow: inset 0 0 7px 0px #1C4168;
    -webkit-box-shadow: inset 0 0 7px 0px #1C4168;
    box-shadow: inset 0 0 7px 0px #1C4168;
  }
  0%, 50%, 100% {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  20%, 30% {
    -moz-border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
    -webkit-border-radius: 10%;
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
  }
  25% {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  0%, 24.99% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  25%, 50%, 100% {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes after-fullmoon {
  0%, 50% {
    opacity: 0;
  }
  50.01%, 100% {
    opacity: 1;
  }
  0%, 50%, 74.99% {
    background: var(--base);
  }
  75%, 100% {
    background: #1C4168;
  }
  0%, 50% {
    -moz-box-shadow: inset 0px 0 7px 0px #1C4168;
    -webkit-box-shadow: inset 0px 0 7px 0px #1C4168;
    box-shadow: inset 0px 0 7px 0px #1C4168;
  }
  74.99% {
    -moz-box-shadow: inset 55px 0 7px 0px #1C4168;
    -webkit-box-shadow: inset 55px 0 7px 0px #1C4168;
    box-shadow: inset 55px 0 7px 0px #1C4168;
  }
  75% {
    -moz-box-shadow: inset 55px 0 7px 0px var(--base);
    -webkit-box-shadow: inset 55px 0 7px 0px var(--base);
    box-shadow: inset 55px 0 7px 0px var(--base);
  }
  100% {
    -moz-box-shadow: inset 0 0 7px 0px var(--base);
    -webkit-box-shadow: inset 0 0 7px 0px var(--base);
    box-shadow: inset 0 0 7px 0px var(--base);
  }
  0%, 50%, 100% {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  70%, 80% {
    -moz-border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
    -webkit-border-radius: 10%;
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
  }
  75% {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  0%, 50%, 74.99% {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  75%, 100% {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
.moon:before {
  -moz-animation: before-fullmoon linear 100s infinite;
  -webkit-animation: before-fullmoon linear 100s infinite;
  animation: before-fullmoon linear 100s infinite;
	  -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
	  animation-delay: var(--phase);
}

.moon:after {
  -moz-animation: after-fullmoon linear 100s infinite;
  -webkit-animation: after-fullmoon linear 100s infinite;
  animation: after-fullmoon linear 100s infinite;
  -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-delay: var(--phase);
}